.display-area {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.quiz-contents {
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.quiz-display {
  background-color: #2383d05e;
  border: 1px solid rgba(0, 0, 0, 0.297);
  border-radius: 5px;
  height: 80vh;
  width: 75vw;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);
}

.flag-img {
  margin: 10px;
}