.display-area {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.quiz-contents {
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
