.input-error-message {
  color: red;
  font-weight: bolder;
}

input {
  background-color: rgb(255 255 255 / 0%);
  margin-bottom: 1em;
  padding: .25em;
  border: 0;
  border-bottom: 2px solid currentcolor; 
  font-weight: bold;
  letter-spacing: .15em;
  border-radius: 0;
}

.guess-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}