
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.world-map{
  height: 100%;
  width: 100%
}

.mainDisplay{
  height: 25vh;
  width: 50vw;
  background-color: white;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.country-selector{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
Link {
  text-decoration: none;
  color: white;
}
