body {
  margin: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  background-image: url('./assets/shoreline.jpeg');
  background-color: #cccccc;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

code {
  font-family: 'Open Sans Condensed', sans-serif;
}


